Repository KoatKoetl/Music-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: correct PR body validation in branch protection workflow
  .github/workflows/branch-protection.yml
Due: none

fix: replace unavailable PR size checker action
  .github/workflows/branch-protection.yml
Due: none

fix: rename commitlint config to .cjs for ES module compatibility
  commitlint.config.cjs
Due: none

fix: resolve linting errors in CI/CD
  .eslintrc.cjs
  .github/workflows/ci-cd.yml
  vite.config.js
Due: eslint --fix, prettier --write

ci: remove PR size check workflow
  .github/workflows/branch-protection.yml
Due: none

fix: resolve all ESLint warnings and errors
  .eslintrc.cjs
  src/App.test.jsx
  src/components/main.jsx
  src/components/useDeezerAPI.jsx
  src/context/AudioContext.jsx
  src/utils/LazyAudioPlayer.jsx
  src/utils/useAudioPlayer.jsx
  tailwind.config.js
  vite.config.js
Due: eslint --fix, prettier --write

fix: configure vitest to use built-in v8 coverage
  .github/workflows/ci-cd.yml
  vite.config.js
Due: eslint --fix, prettier --write

chore: specify Node.js 22 for Netlify builds
  .nvmrc
  package.json
Due: prettier --write

ci: update dependabot to group GitHub Actions updates
  .github/dependabot.yml
Due: none

chore: update dependencies and fix security vulnerabilities
  package-lock.json
Due: prettier --write

ci: configure dependabot to ignore major version updates
  .github/dependabot.yml
Due: none

ci: fix PR labeler workflow permissions
  .github/workflows/pr-labeler.yml
Due: none

refactor: migrate to ESLint v9 flat config
  .eslintrc.cjs
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: ((((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{css,scss,less})) or (any of: *.{json,md})) or (any of: *.sh)
